/* photo carousel styles */

.modal-dialog {
  width: 600px;
}
.thumbnail {
  margin-bottom: 6px;
}
#map {
  height: 350px;
  width: 99%;
}
.navbar .logo img {
  width: 130px;
  float: left;
  margin-right: 15px;
  background-color: white;
  position: absolute;
}
.navbar.collapsed .logo img {
	width: 51px;
	position: inherit;
}
.navbar {
	border-bottom: 10px solid #fe7370;

}
.navbar-brand {
	visibility: hidden;
}
.navbar.collapsed .navbar-brand { visibility: visible; }

.container address {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  #contact .container address {
    font-size: 21px;
  }
}
.carousel {
	margin-bottom: 20px;
}
.carousel .item {
  overflow: hidden;
  max-height: 653px;
}
.carousel .item img {
  width: 100%;
  height: auto;
}
.navbar .container {
  font-size: 16px;
}
.section-heading {
  color: #FF6D70;
}
.page-header {
    border-bottom: 1px solid #FF6D70;
}
.carousel-indicators .active {
    background-color: #FF6D70;
	width: 15px;
	height: 15px;
	margin: 7px
}
.walkbrook-primary-color {
  color: #FF6D70;
}
.carousel {
  margin-top: 33px;
}
.carousel-indicators li {
  width: 13px;
  height: 13px;
  border-radius: 0 !important;
  margin: 8px;
}

.page-header {
    margin-top: 10px;
}
section {
    padding-top: 10px;
}
